:root {
  --color-default: #fff;
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-default: #252b30;
  }
}
[data-theme="dark"] {
  --color-default: #252b30;
}
body {
  background-color: var(--color-default);
}
